body {
  padding: 40px;
}

p {
  max-width: 700px;
}

ul {
  list-style-type: none;
}

section:first-of-type {
  overflow: hidden;
}

.first-parent, .second-parent {
  border: 5px solid black;
  max-width: 700px;
}

.first-child {
  float: left;
  border: 2px solid red;
  width: 100px;
  height: 100px;
}

.clear {
    clear: both;
}

.second-parent {
  overflow: auto;
}

/* Ваше решение задания №1 */



.third-parent {
  height: 400px;
  background: green;
  max-width: 700px;
  border: 5px solid black;
  position: relative;
  right: -40px;
}

.blue {
  width: 50px;
  height: 50px;
  background: blue;
  position:absolute;
  right: 0;
}

.yellow {
  width: 50px;
  height: 50px;
  background: yellow; 
  position: absolute;
  right: -30px;
  top: -30px;
}

/* Ваше решение задания №2 */



.fourth-parent {
  border: 5px solid black;
}

.fourth-parent div {
  height: 300px;
  border: 2px solid red;
}

.fourth-left {
width: 250px;
float: left;
}

.fourth-parent  {
  overflow: auto;
}

/* Ваше решение дополнительного задания */