/*

Задание 1

Измените цвет текста в заголовке второго уровня Калуша с Калушатами на синий (blue). При этом все остальные заголовки должны остаться без изменений.

Задание 2

Напишите правило, которое изменит цвет текста для всех выделенных тегом strong упоминаний Калушат на коричневый (brown) цвет.

Задание 3

Напишите правило для всех выделенных тегом span упоминаний Бутявки, находящихся внутри цитат (blockquote), измените цвет текста на желтый (yellow) и задайте полужирное начертание.

Задание 4

Напишите правило, согласно которому все выделенные тегом strong упоминания Калушат внутри списка ol имели бы наклонное начертание.

*/

div h2 {
    color: blue;
}

strong {
    color: brown;
}

blockquote span {
    color: yellow;
    font-weight: 700;
}

ol strong { 
    font-style: italic;
}